footer{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    padding: 0 2.5%;
    background-color: var(--txt);
}

#footer-logo{
    width: 15%;
}

#footer-links{
    display: flex;
    align-items: center;
}

#footer-links *{
    font-size: 20px;
    color: var(--bg1);
    text-decoration: none;
    margin: 1em;
}

/* MOBILE RESPONSIVE */

@media only screen and (max-width: 600px){

    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footer-logo{
        width: 45vw;
    }

    #footer-links{
        flex-direction: column;
    }
}